
<section class = "beer-catalogue">
    <div class= "title-container">
        <h1 class = "main-header">Our Beers</h1>
    </div>
    {{#each theBeers}}
     {{> beerpartial }}
    {{/each}}
</section>
